<p>dictionary works!</p>


<ng-container>


  <h1>A COVINT</h1>

  <h2>A projekt célja</h2>

  <div class="container">

    <div>
      <h2>Email megerősítés</h2>

      <table>
        <tr>
          <th>Név</th>
          <th>Hivatkozás</th>
          <th>Leírás</th>
        </tr>
        <tr>
          <td>link</td>
          <td>$&#10100;link&#10101;</td>
          <td>Email cím megerősítő link</td>
        </tr>
        <tr>
          <td>érvényességi idő</td>
          <td>$&#10100;linkExpiration&#10101;</td>
          <td>Időtartam amíg a link érvényes</td>
        </tr>
      </table>
    </div>
    <div>
      <h2>Jelszó visszaállítás</h2>

      <table>
        <tr>
          <th>Név</th>
          <th>Hivatkozás</th>
          <th>Leírás</th>
        </tr>
        <tr>
          <td>link</td>
          <td>$&#10100;link&#10101;</td>
          <td>Email cím megerősítő link</td>
        </tr>
        <tr>
          <td>érvényességi idő</td>
          <td>$&#10100;linkExpiration&#10101;</td>
          <td>Időtartam amíg a link érvényes</td>
        </tr>
      </table>
    </div>

    <div>
      <h2>Várakozó felhasználó</h2>

      <table>
        <tr>
          <th>Név</th>
          <th>Hivatkozás</th>
          <th>Leírás</th>
        </tr>
        <tr>
          <td>link</td>
          <td>$&#10100;link&#10101;</td>
          <td>Email cím megerősítő link</td>
        </tr>
        <tr>
          <td>felhasználó email </td>
          <td>$&#10100;email&#10101;</td>
          <td>Az új felhasználó email címe</td>
        </tr>
        <tr>
          <td>keresztnévnév</td>
          <td>$&#10100;LastName&#10101;</td>
          <td>A felhasználó vezetékneve</td>
        </tr>
        <tr>
          <td>vezetéknév</td>
          <td>$&#10100;LastName&#10101;</td>
          <td>A felhasználó vezetékneve</td>
        </tr>
        <tr>
          <td>keresztnév</td>
          <td>$&#10100;FirstName&#10101;</td>
          <td>A felhasználó keresztneve</td>
        </tr>
        <tr>
          <td>telefonszám</td>
          <td>$&#10100;Phone&#10101;</td>
          <td>A felhasználó telefonszáma</td>
        </tr>
        <tr>
          <td>telefonszám</td>
          <td>$&#10100;Phone&#10101;</td>
          <td>A felhasználó telefonszáma</td>
        </tr>
      </table>
    </div>

  </div>






</ng-container>