<p>dictionary works!</p>
<ng-template #alternateContent>
    <!-- Itt jelenjen meg az alapértelmezett tartalom, mivel be vagy jelentkezve a felhasználó -->
    <h1>A COVINT ha nem vagy bejelentkezve</h1>
    <!-- Alapértelmezett tartalom részei itt -->
  </ng-template>

  <ng-container >
  

    <h1>A COVINT</h1>
    
      <h2>A projekt célja</h2>
    
    <div class="container">
        
        <div class="covinttext">
        <a> 

szótár a tempéaletkhez


        </a>
      </div>
    </div>

 </ng-container>