<h1>Ősfeltöltés</h1>
<h2>Ősfeltöltés több marker kombinációjára</h2>

<div class="container">
<div class="markerclass">
    <div>
      <label class="text"> Marker</label>
    </div>
    <div style="display: flex;">
      <select class="droptextbox" type="text" id="markers" name="markers" [(ngModel)]="marker">
        <ng-container *ngFor="let marker of markers">

          <option value="{{marker}}">{{marker}}</option>

        </ng-container>
      </select>

      <button (click)="addMarker()">Hozzáadás</button>
    </div>
  </div>

  <div class="addedtext">
    <div *ngFor="let illness of illnesses" style="border-bottom: solid 3px #0080ff; display: flex; align-items: center; padding-bottom: 5px; margin-top: 5px;">
      <div style="flex-grow: 1;">
        <p style="margin: 0;">{{ illness }}</p>
      </div>
      <div style="margin-left: auto;">
        <button (click)="removeMarker(illness)">Törlés</button>
      </div>
    </div>
  </div>
  
  <div class="scrollable-container">
  <table class="mat-table">
    <thead>
      <tr>
        <th>Nem</th>
        <th>Kor</th>
        <th>Halálozás</th>
        <th>Kórház</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let default of defaults"> 
        <td>{{ default.Sex }}</td>
        <td>{{ default.Age }}</td>
        <td>
          <input type="number" [(ngModel)]="default.Hospitalized" name="hospitalized" id="hospitalized" class="form-control">
        </td>
        <td>
          <input type="number" [(ngModel)]="default.Dead" name="dead" id="dead" class="form-control">
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  
  

<div>

  <button id="okebutton" (click)="finish()">Kész</button>

  

 
</div>

</div>