.container{
    padding-top: 0;
}

.button{
    width: 200px;
}

.scrollable-container {
    overflow: auto;
    max-height: 500px; 
    padding: 20px;  
    padding: 15px;
    padding-top: 0;
    
}

table {
    width: 100%;
     
}

.content{
    display: flex;
    background: rgba(224,224,224);
    background: linear-gradient(180deg, rgba(224,224,224,1) 60%, rgba(255,255,255,0) 90%);    
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 100px;     
    padding-bottom: 40px;
}

.content2{
    display: flex;
    flex-direction: column;   
}

.content3{
    display: flex;
    justify-content: space-between;
}

.bnoclass{
    margin-right: 200px;
}

#okebutton{
    margin-left: 0;
    margin-top: 60px;
    box-shadow: 0 0 0 20px white;
}

#trueMArk{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
}

#falseMark{
    margin-top: 20px;
    margin-left: 10px;
}

.markerbno{
    min-width: 420px;
    display: flex; 
    border-bottom: solid 3px #848484; 
    align-items: center; 
    padding: 10px; 
    margin-top: 5px;
    border-start-end-radius: 7px;
    border-start-start-radius: 7px;
    color: black;    
}

.markerbno2{
    min-width: 500px;
    display: flex; 
    border-bottom: solid 3px #0800ff; 
    align-items: center; 
    padding: 10px; 
    margin-top: 5px;
    border-start-end-radius: 7px;
    border-start-start-radius: 7px;
    color: black;    
}

#markers{
    margin-right: 20px;
}