.newillnessclass{
    display: block;
    flex-direction: column;
    
    margin-bottom: 20px;
}

.ismarker{
    margin: top 20px;
    margin-bottom:20px ;
}

#trueMArk{
    margin-left: 10px;
    margin-right: 70px;
}

#falseMark{
    margin-left: 10px;
}

.bnoclass{
    margin-top: 0; 
    margin-right: 20px;
    width: 200px;
}

#bno{
    margin-top: 0; 
    margin-right: 20px;
    width: 200px;
}

#okebutton{
    margin-left: 0;
    margin-bottom: 50px;
    margin-top: 20px;
}

.button{
    width: 200px;
}

.scrollable-container {
    overflow: auto;
    max-height: 500px; 
    padding: 20px;
    box-shadow: 0px 0px 7px #848484;
  }

table {
    width: 100%;
    
  }
  
  th, td {
    height: auto;
    width: 25%; 
    text-align: center;
  }

  th{
    background-color: rgb(101, 147, 253);
    padding: 5px;
  }

.bnoclass{
    margin-bottom: 40px;
}