.newillnessclass{
    display: block;
    flex-direction: column;
    
    margin-bottom: 20px;
}

.ismarker{
    margin: top 20px;
    margin-bottom:20px ;
}

#trueMArk{
    margin-left: 10px;
    margin-right: 70px;
}

#falseMark{
    margin-left: 10px;
}

.bnoclass{
    margin-top: 0; 
    margin-right: 20px;
    width: 200px;
}

#bno{
    margin-top: 0; 
    margin-right: 20px;
    width: 200px;
}

#okebutton{
    margin-left: 0;
    margin-bottom: 50px;
    margin-top: 20px;
}

.button{
    width: 200px;
}

/* styles.css */

table {
    width: 100%;
  }
  
  th, td {
    width: 25%; /* Minden oszlop egyforma szélessége */
  }