<h1>
  Új Marker hozzáadása
</h1>

<div class="container">

  <div class="newillnessclass">
    <div>
      <label for="newillness">Új betegség:</label>
    </div>
    <div>
      <input class="droptextbox" style="width: 200px;" type="text" id="newillness" name="newillness"
        [(ngModel)]="newIllness.GroupName">
    </div>
  </div>

  <div class="ismarker">
    <div>
      <label class="text">Az új betegség egyben marker is?</label>
    </div>
    <div>
      <label for="trueMark">Igen</label>
      <input type="radio" id="trueMArk" name="ismarker" [value]="true" [(ngModel)]="newIllness.IsMarker">

      <label for="falseMark">Nem</label>
      <input type="radio" id="falseMark" name="ismarker" [value]="false" [(ngModel)]="newIllness.IsMarker">
    </div>
  </div>




  <div class="bnoclass">

    <div>
      <label style="margin-bottom: 0;" for="bno">Alternatív név bevitele</label>
    </div>
    <div style="display: flex;">
      <input class="droptextbox" type="text" id="bno" name="bno" [(ngModel)]="newAlternativeName">


      <button (click)="addAlternativeName()">Hozzáadás</button>
    </div>
  </div>





  <div class="addedtext">
    <div *ngFor="let newillness of newIllness.AlternativeNames"
      style="border-bottom: solid 3px #0080ff; display: flex; align-items: center; padding-bottom: 5px; margin-top: 5px;">
      <div style="flex-grow: 1;">
        <p style="margin: 0;">{{newillness}}</p>
      </div>
      <div style="margin-left: auto;">
        <button (click)="removeAlternativeName(newillness)">Törlés</button>
      </div>
    </div>
  </div>

  
    <table>
      <thead>
        <tr>
          <th>Nem</th>
          <th>Kor</th>
          <th>Halálozás</th>
          <th>Kórház</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let age of ages; let i = index">
          <td>{{ default.SexM }}</td>
          <td>{{ age }}</td>
          <td>
            <mat-form-field class="form-field" apearance="legacy">
              <mat-label>Halálozás %</mat-label>
              <input matInput [(ngModel)]="default.Hospitalized" type="number" name="hospitalized" id="hospitalized" class="form-control">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="form-field" apearance="legacy">
              <mat-label>Kórház %</mat-label>
              <input matInput [(ngModel)]="default.Dead" type="number" name="dead" id="dead" class="form-control">
            </mat-form-field>
          </td>
          <td>
            <!-- Bootstrap-stílusú checkbox -->
            
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="customCheckbox{{ age }}" [(ngModel)]="selectedRows[i]">
                <label class="form-check-label" for="customCheckbox{{ age }}"></label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  
  
  
  

    <button (click)="addDefault()">Hozzáadás</button>

  <button id="okebutton" (click)="finish()">Kész</button>
</div>