<div class="custom-form-creator">
    <div class="question-selection">
        <button (click)="addQuestion('text')">Add Age Question</button>
        <button (click)="addQuestion('yesNoCovid')">Add Covid Affected Question</button>
        <button (click)="addQuestion('yesNoHospitalized')">Add Hospitalized Question</button>
        <button (click)="addQuestion('multiselect')">Add Illness Question</button>
    </div>
    <div class="form-preview">
        <div *ngFor="let question of selectedQuestions; let i = index" class="preview-item">
            <div class="preview-content">
                <div class="question-content">
                    <ng-container *ngIf="question.type === 'text'">
                        <label>{{ question.label }}</label>
                        <input type="text" [name]="question.id">
                    </ng-container>
                    <ng-container *ngIf="question.type === 'yesno'">
                        <label>{{ question.label }}</label>
                        <div>
                            <input type="radio" [name]="question.id" value="Yes"> Yes
                            <input type="radio" [name]="question.id" value="No"> No
                        </div>
                    </ng-container>
                    <ng-container *ngIf="isMultiSelectQuestion(question)">
                        <label>{{ question.label }}</label>
                        <div *ngFor="let option of getOptions(question)">
                            <input type="checkbox" [id]="option" (change)="toggleSelection(question, option)">
                            <label [for]="option">{{ option }}</label>
                        </div>
                        <div class="selected-options">
                            <div *ngFor="let selectedOption of getSelectedOptions(question)">
                                {{ selectedOption }}
                                <button (click)="removeSelection(question, selectedOption)">X</button>
                            </div>
                        </div>
                    </ng-container>
                    
                    <br>
                    <button (click)="deleteQuestion(i)" class="delete-button">Delete</button>
                </div>
            </div>
        </div>
    </div>    
    <button (click)="renderForm()">Render Form</button>
    <textarea rows="20" cols="150" readonly>{{ generatedFormHtml }}</textarea>
</div>