
.custom-form-creator {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-selection {
    width: 80%;
    margin-bottom: 20px;
}

.form-preview {
    width: 80%;
    border: 1px solid #0800ff;
    padding: 20px;
    margin-top: 20px;
}