.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.popup {
  background-color: #cecece;
  padding: 10px;
  z-index: 1;
}

.material-icons {
  vertical-align: middle; 
  margin-right: 5px; 
  cursor: pointer;
}

.material-icons.right-arrow {
  transform: rotate(90deg);
}