.container01 {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

#sex {
    width: 100px;
    margin-left: 25px;
    margin-right: 50px;
    text-align: center;
    padding: 0;
}

#source {
    margin-left: 90px;
}

button {
    margin: 0;
    margin-left: 20px;
}

#finishbutton {
    float: left;
    margin-left: 0;
}

.addedtext { 
    margin-top: 20px;
    padding: 0;
  }

#text00 {
    border: 1px solid #42a160;
    border-radius: 5px;
    width: 87%;
    height: 40px;
    margin-left: 20px;
    padding: 0;
}

#age{
    width: 100px;
    margin-left: 25px;
    text-align: center;
    padding: 0;
}

#trueHosp{
    margin-left: 10px;
    margin-right: 70px;
}

#falseHosp{
    margin-left: 10px;
}

#trueDead{
    margin-left: 10px;
    margin-right: 70px;
}

#falseDead{
    margin-left: 10px;
}

.text{
    margin: 0;  
}

#markers{
    width: 80px;
    
}