.container{
    padding-top: 0;
}

.text{
    text-align: center;
}

#okebutton{
    margin-left: 0;
    margin-top: 60px;
    box-shadow: 0 0 0 20px white;
}

.markerbno{
    display: flex; 
    border-bottom: solid 3px #848484; 
    align-items: center; 
    padding: 10px; 
    margin-top: 5px;
    border-start-end-radius: 7px;
    border-start-start-radius: 7px;
    color: black;    
}

.droptextbox{
    margin-right: 20px;
}

.markerbno2{
    display: flex; 
    border-bottom: solid 3px #0800ff; 
    align-items: center; 
    padding: 10px; 
    margin-top: 5px;
    border-start-end-radius: 7px;
    border-start-start-radius: 7px;
    color: black;    
}

.content2{
    margin-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
    z-index: 0;
}

#trueDead{
    margin-left: 12px;
}

#falseDead{
    margin-left: 10px;
}

#trueHosp{
    margin-left: 12px;
}

#falseHosp{
    margin-left: 10px;
}

.container2{
    display: flex;
    background: rgb(224,224,224);
    background: linear-gradient(180deg, rgba(224,224,224,1) 60%, rgb(255, 255, 255) 90%);
    justify-content: space-between;
    padding-bottom: 40px;
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 40px;
}

.container3{
    text-align: left;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding-bottom: 60px;
}

#markerbnoclass{
    display: flex;
}

#dead{
    margin-left: 30px;
}

#marker{
    max-height: 265px; 
    overflow-y: auto;  
    margin-left: 100px; 
    margin-bottom: 60px;
}

#hospdead{
    display: flex;
    justify-content: center;
    text-align: center;
}

.content3{
    display: none;
}

@media (max-width: 1200px){
    #markerbnoclass{
        text-align: left;
        display: flex;
        flex-direction: column; 
        margin-bottom: 40px;        
    }

    #marker{
        max-height: 265px; 
        overflow-y: auto;  
        padding-bottom: 60px;
        padding-left: 10px; 
        padding-right: 10px;
    }

    #markers{
        margin-left: 0;
    }  
    
    #hospdead{
        flex-direction: column;
    }

    #dead{
        margin-left: 0;
    }
}

@media (max-width: 500px){

    #marker{
        max-height: 265px; 
        overflow-y: auto; 
        padding-left: 10px; 
        padding-right: 10px;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    #deletebutton{
        width: auto;
    }
    
    .container{    
        position: relative;    
        padding: 0;
        padding-right: 0;
        padding-top: 100px;
        z-index: 0;
        overflow: scroll;
    }

    .container2{
        display: flex;
        flex-direction: column;                
        padding-top: 0;  
        padding-left: 0;  
        padding-right: 0;         
    }

    .container3{
        padding-bottom: 40px;
        padding-top: 40px;
        justify-content: center;
        background-color: rgb(255, 255, 255);
    }

    .container3:nth-child(even) {
        background: rgba(240,240,240,1);
        background: linear-gradient(180deg, rgba(255,255,255,0) 00%, rgba(240,240,240,1) 30%, rgba(240,240,240,1) 70%, rgba(255,255,255,0) 100%);
    }

    .markerbno2{
        width: 100%;
    }

    .markerbno{
        width: 100%;        
    }

    #hospdead{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .droptextbox{
        margin-right: 0;        
    }

    #trueHosp{
        margin-top: 20px;
    }

    #falseHosp{
        margin-bottom: 40px;
    }

    #trueDead{
        margin-top: 20px;
    }


    .content2{
        display: none;
    }

    .content3{
        display:flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 40px;
        padding-top: 40px;
        background: rgba(240,240,240,1);

    }

    #marker{
        max-height: auto;
        overflow-y: auto;
        min-width: 0;
        width: 100%;        
    }


    #datainput{
        background-color: white;
    }

}