<h1>
  Adatbevitel 
</h1>

<br>
<br>

<div class="container">
<label for="sex">Páciens neme:</label>
<select class="droptextbox" name="sex" id="sex" [(ngModel)]="case.Sex">
  <option value="Férfi">Férfi</option>
  <option value="Nő">Nő</option>
  <option value="Nincs adat/Egyéb">Nincs adat/Egyéb</option>
  </select>

<form >
  <label for="age">Páciens kora:</label>
  <input class="droptextbox" type="number" id="quantity" name="quantity" min="1" [(ngModel)]="case.Age"> 
</form>



<div>
  <label for="vehicle1">Korházba került</label>
  <input type="checkbox" id="hosp" name="hosp" value="true" [(ngModel)]="case.Hospitalized">
</div>

<div>
<label for="vehicle2"> Meghalt</label>
<input type="checkbox" id="dead" name="dead" value="true" [(ngModel)]="case.Dead">
</div>

<br>

<form >
  <label for="source">Forrás:</label>
  <input class="droptextbox" type="text" id="source" name="source"  [(ngModel)]="case.Source"> 
</form>

<br>

<div class="container01">
<input class="droptextbox" type="text" id="course" name="course"  [(ngModel)]="newMarker" placeholder="Enter course name">

<br>

<button (click)="addMarker()">Hozzáadás</button>
</div>

<div class="addedtext">
<p>Hozzáadott:</p>
<p id="text00">{{case.Markers|json}}</p>
</div>

<br>

<button id="keszbutton" (click)="finish()">Kész</button>

</div>