<h1>Adatbevitel</h1>

<h2>Töltsön fel új beteg adatlapot! </h2>

<div class="container">  

  <div class="container2">

    <div class="container3">
      <div>
        <div>
          <label class="text" for="sex">Páciens neme <s>*</s></label>
        </div>
        <div>
          <select class="droptextbox" name="sex" id="sex" [(ngModel)]="case.Sex" placeholder="Férfi/Nő" title="Kérem válasszon.">
            <option value="" disabled selected hidden>Válasszon nemet...</option>
            <option value="Férfi">Férfi</option>
            <option value="Nő">Nő</option>
          </select>
        </div>
    
        <div>
          <label class="text" for="age">Páciens kora  <s>*</s></label>
        </div>
        <div>
          <input class="droptextbox" type="number" id="age" name="age" min="1" [(ngModel)]="case.Age" placeholder="18-88" title="Kérem töltse ki a mezőt">
        </div>      
      </div>
    </div>
       
      <!--
      <div>
        <label class="text" for="source">Forrás:</label>
      </div>
      <div>      
        <input class="droptextbox" type="text" id="source" name="source" [(ngModel)]="case.Source" placeholder="???" title="Kérem töltse ki a mezőt">
      </div>
      -->
    <div class="container3"> 
      <div>
        <div>
          <label class="text"> Marker <s>*</s></label>
        </div>
        <div>
          <select class="droptextbox" type="text" id="markers" name="markers" [(ngModel)]="marker" placeholder="Asztma" title="Kérem válasszon">
            <ng-container *ngFor="let marker of markers">
              <option value="" disabled selected hidden>Válasszon markert...</option>
              <option value="{{marker}}">{{marker}}</option>
            </ng-container>
          </select>      
          <button (click)="addMarker()">Hozzáadás</button>
        </div> 
      </div>     
    
      <div>
        <div>
          <label class="text" for="bno">BNO Kódok bevitele</label>
        </div>
        <div>
          <input class="droptextbox" type="text" id="bno" name="bno" [(ngModel)]="newBno" placeholder="345667..." title="Kérem töltse ki a mezőt">
          <button (click)="addBno()">Hozzáadás</button>
        </div>
      </div>
    </div>

    <div class="container3">  
      <div style="display: flex;">
      <div style="margin-right: 30px;">  
        <div style="margin-bottom: 20px;">
          <label class="text">Kórházba került  <s>*</s></label>
        </div>
        <div>
          <div>
            <label  class="text" for="trueHosp">Igen</label>
            <input  type="radio" id="trueHosp" name="hospitalized" [value]="true" [(ngModel)]="case.Hospitalized" title="Kérem válasszon">
          </div>
          <div>
            <label class="text" for="falseHosp">Nem</label>
            <input type="radio" id="falseHosp" name="hospitalized" [value]="false" [(ngModel)]="case.Hospitalized" title="Kérem válasszon">
          </div>
        </div>
      </div> 
      <div style="margin-left: 30px;">
        <div style="margin-bottom: 20px;">
          <label class="text">Elhunyt <s>*</s></label>
        </div>
        <div>
          <div>
            <label class="text" for="trueDead">Igen</label>
            <input type="radio" id="trueDead" name="dead" [value]="true" [(ngModel)]="case.Dead" title="Kérem válasszon">
          </div>
          <div>
            <label class="text" for="falseDead">Nem</label>
            <input type="radio" id="falseDead" name="dead" [value]="false" [(ngModel)]="case.Dead" title="Kérem válasszon">
          </div>
        </div>
      </div>
    </div>
    </div> 

  </div>
  <div>

    <div class="content2" style="margin-top: 60px;">
      <ng-container *ngIf="case.Illnesses && case.Illnesses.length > 0; else noMarkers">
        <p class="markerbno2">Markerek</p>
        <div style="max-height: 265px; overflow-y: auto; min-width: 700px; margin-left: 100px; margin-bottom: 60px;">
          <div *ngFor="let illness of case.Illnesses; let i = index" style="border-bottom: solid 3px #b8b8b8a6; display: flex; align-items: center; padding-bottom: 5px; margin-top: 5px;">
            <div style="flex-grow: 1;">
              <p style="margin: 0;">{{ illness }}</p>
            </div>
            <div style="margin-left: auto;">
              <button (click)="removeMarker(illness)">Törlés</button>
            </div>
          </div>
        </div>
        <div *ngIf="case.Illnesses.length > 5">
          <p style="margin-top: 20px; opacity: 70%;">(További Markerek megtekintéséhez görgessen lefele (vagy valami szöveget ide lehet írni))</p>
        </div>
      </ng-container>
      <ng-template #noMarkers>
        <p class="markerbno">Még nem adott hozzá Markert</p>
      </ng-template>
    </div>

    <div class="content2">
      <ng-container *ngIf="case.BnoCodes && case.BnoCodes.length > 0; else noBnos">
        <p class="markerbno2">BNO Kódok</p>
        <div style="max-height: 265px; overflow-y: auto; min-width: 700px; margin-left: 100px; margin-bottom: 60px;">
          <div *ngFor="let bno of case.BnoCodes; let i = index" style="border-bottom: solid 3px #b8b8b8a6; display: flex; align-items: center; padding-bottom: 5px; margin-top: 5px;">
            <div style="flex-grow: 1;">
              <p style="margin: 0;">{{ bno }}</p>
            </div>
            <div style="margin-left: auto;">
              <button (click)="removeBno(bno)">BNO Törlés</button>
            </div>
          </div>
        </div>
        <div *ngIf="case.BnoCodes.length > 5">
          <p style="margin-top: 20px; opacity: 70%;">(További BNO Kódok megtekintéséhez görgessen lefele (vagy valami szöveget ide lehet írni))</p>
        </div>
      </ng-container>
      <ng-template #noBnos>
        <p class="markerbno">Még nem adott hozzá BNO kódot</p>
      </ng-template>
    </div>

    <div style="text-align: center; position: relative; z-index: 1; display: flex; flex-direction: column; align-items: center;">   
      <button id="okebutton" (click)="finish()" style="z-index: 2; position: relative;">
          Kész
      </button>
      <div style="position: absolute; bottom: 0; width: 50%; z-index: 1; text-align: center;">
          <hr style="margin-top: 10px; width: 100%; height: 1px; background-color: #0080ff; box-shadow:0px 1px 0px #848484;">
      </div>
    </div>  

  </div>

  <footer>   
    <p>A "*" -al jelölt mezők kitöltése kötelező !</p>
  </footer>

</div>