.container01 {
    display: flex;
    vertical-align: middle;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sexclass{
    display: block;
    flex-direction: column;
    
    margin-bottom: 20px;
}

#source {
    display: block;
    flex-direction: column;
    margin-right: 200px;
    margin-bottom: 20px;
    width: 200px;
}

button {
    margin: 0;
    margin-left: 0px;
}

#okebutton{
    margin-left: 0;
    margin-bottom: 50px;
    margin-top: 20px;
}

.addedtext { 
    margin-top: 20px;
    padding: 0;
  }

#text00 {
    border: 1px solid #42a160;
    border-radius: 5px;
    width: 87%;
    height: 40px;
    margin-left: 20px;
    padding: 0;
}

.ageclass{
    display: block;
    flex-direction: column;
    margin-top: 20px;
}

#trueHosp{
    margin-left: 10px;
    margin-right: 70px;
}

#falseHosp{
    margin-left: 10px;
}

#trueDead{
    margin-left: 10px;
    margin-right: 70px;
    border-left: solid 1px #0800ff;
}

#falseDead{
    margin-left: 10px;
}

.text{
    margin: 0;  
}

.markerclass{
    display: block;
    flex-direction: column;
    margin-bottom: 20px;
}

#markers{
    margin-right: 20px;
    
}

#age{
    width: 200px;
}

.hospitalized{
    margin: top 20px;
    margin-bottom:20px ;
}

.dead{
    margin: top 20px;
    margin-bottom:20px ;
}

.bnoclass{
    display: block;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 0;
}

#bno{
   margin-top: 0; 
    margin-right: 20px;
    width: 200px;
}