c

<div class="container">
    <form (ngSubmit)="onLogin()">
      <div class="form-group">
        <div>
          <label class="text" for="email">Felhasználónév</label>
        </div>
        <input class="droptextbox" type="email" id="email" name="email" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <div>
          <label class="text" for="password">Jelszó</label>
        </div>
        <input class="droptextbox" type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <div class="form-group">
        <button type="submit">Bejelentkezés</button>
      </div>
    </form>
    <div class="form-group">
      <a routerLink="/forgot-password">Elfelejtetted a jelszavad?</a>
    </div>
 
</div>