.table {
    height: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

.active-button {
    opacity: 0.5; 
}
  
.inactive-button {
    opacity: 1; 
}

#markerfiltercontent{
    margin-top: 60px;
}

#filtersavebutton{
    margin-left: 25px;
}

.content{
    display: flex;
    background: rgb(224,224,224);
    background: linear-gradient(180deg, rgba(224,224,224,1) 60%, rgb(255, 255, 255) 90%);
    justify-content: space-around;
    padding-bottom: 40px;
}

.container{
    padding-top: 0;
}

.container2{
    
    padding-top: 60px;
    
    flex-direction: column;
    align-items: center;    
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
}

#markerbutton{
    margin-right: 20px;
}

.content2{
    display: flex;
    justify-content: space-around;
}