.sexclass{
    display: block;
    flex-direction: column;
    margin-right: 200px;
    margin-bottom: 20px;
}

.source{    
    margin-top: 60px;
    margin-right: 200px;
    margin-bottom: 20px;
}

#source{
    display: flex;
    width: 200px;
}

button {
    margin: 0;
    margin-left: 0  ;
}

.exportbutton{
    margin-bottom: 60px;
    margin-left: 0;
    float: right;
}
#ratesbutton{
    margin-top: 50px;
    margin-left: 0;
    float: right;
}
.addedtext { 
    margin-top: 20px;
    padding: 0;
  }

#text00 {
    border: 1px solid #42a160;
    border-radius: 5px;
    width: 87%;
    height: 40px;
    margin-left: 20px;
    padding: 0;
}

.ageclass{
    display: block;
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 20px;
}

.text{
    margin: 0;  
    display: flex;
}

.validclass{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.markerclass{
    display: block;
    flex-direction: column;
    margin-bottom: 40px;
}

#markers{
    margin-right: 20px;
}

#agefrom{
    width: 200px;
    margin-right: 5px;
}

#ageto{
    width: 200px;
    margin-right: 5px;
}

.table {
    height: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

#dateto{
    margin-left:10px;
    margin-right: 2px;
}

#datefrom{
    margin-right: 2px;
}

#okebutton {
    margin-left: auto;
    float: left;
    margin-bottom: 20px;
    margin-top: 40px;
}

#markerbutton{
    margin-right: 45px;    
    margin-bottom: 40px;
    z-index: 0;
}

#addmarkerbutton{
    margin-left: 25px;
    margin-bottom: 40px;
}

.active-button {
    opacity: 0.5; /* Aktív gomb teljesen látható */
}
  
.inactive-button {
    opacity: 1; /* Inaktív gomb halványabb */
}

#markerfiltercontent{
    margin-top: 60px;
}

#filtersavebutton{
    margin-left: 25px;
}