<h1>%-os értékek felülírása</h1>

<div class="container">
  <h3><button id="backbutton" (click)="goBackToPrevPage()">&#11148;</button></h3>
  <div class="container2">

    <div class="container3">
      <div>
        <div>
          <label class="text" for="sex">Páciens neme <s>*</s></label>
        </div>
        <div>
          <select class="droptextbox" name="sex" id="sex" [(ngModel)]="override.Sex" title="Kérem válasszon">
            <option value="" disabled selected hidden>Válasszon nemet...</option>
            <option value="Férfi">Férfi</option>
            <option value="Nő">Nő</option>
          </select>
          <div class="ageclass">
            <div>
              <label class="text" for="age">Páciens kora <s>*</s></label>
            </div>
            <div>
              <input class="droptextbox" type="number" id="age" name="age" min="1" [(ngModel)]="override.Age" placeholder="18-88" title="Kérem töltse ki a mezőt">
            </div>
          </div>
        </div>
      </div>
    </div>
   
  
    <div class="container3">
      <div>
        <div>
          <label class="text"> Halálozási % <s>*</s></label>
        </div>
        <div>        
          <input class="droptextbox" type="number" id="deadpercent" name="deadpercent" min = '1' max = '100' [(ngModel)]="override.Dead" placeholder="12%" title="Kérem töltse ki a mezőt 1-100 ">    
        </div>  
        <div>
          <label class="text"> Kórházba kerülési % <s>*</s></label>
        </div>
        <div>
          <input class="droptextbox" type="number" id="hosppercent" name="hosppercent" min = '1' max = '100' [(ngModel)]="override.Hospitalized" placeholder="34%" title="Kérem töltse ki a mezőt">
        </div>
      </div>
    </div>
  
    <div class="container3">
      <div>
      <div>
        <label class="text"> Marker <s>*</s></label>
      </div>
      <div>
        <select class="droptextbox" type="text" id="markers" name="markers" [(ngModel)]="marker" title="Kérem válasszon">
          <ng-container *ngFor="let marker of markers">
            <option value="" disabled selected hidden>Válasszon markert...</option>
            <option value="{{marker}}">{{marker}}</option>
          </ng-container>
        </select>
        <button (click)="addMarker()">Hozzáadás</button>
      </div>
    </div>
  </div>
  </div>

  
  <!--div class="content2" style="margin-top: 60px;">
    <div *ngFor="let illness of override.Illnesses" style="border-bottom: solid 3px #b8b8b8a6; display: flex; align-items: center; padding-bottom: 5px; margin-top: 5px;">
      <p class="markerbno2">Markerek</p>
      <div style="flex-grow: 1;">
        <p style="margin: 0;">{{ illness }}</p>
      </div>
      <div style="margin-left: auto;">
        <button (click)="removeMarker(illness)">Törlés</button>
      </div>
    </div>
  </div-->

  <div>
    <div class="content2" style="margin-top: 60px;">
      <ng-container *ngIf="override.Illnesses && override.Illnesses.length > 0; else noMarkers">
        <p class="markerbno2">Markerek</p>
        <div style="max-height: 265px; overflow-y: auto; min-width: 700px; margin-left: 100px; margin-bottom: 60px;">
          <div *ngFor="let illness of override.Illnesses; let i = index" style="border-bottom: solid 3px #b8b8b8a6; display: flex; align-items: center; padding-bottom: 5px; margin-top: 5px;">
            <div style="flex-grow: 1;">
              <p style="margin: 0;">{{ illness }}</p>
            </div>
            <div style="margin-left: auto;">
              <button (click)="removeMarker(illness)">Törlés</button>
            </div>
          </div>
        </div>
        <div *ngIf="override.Illnesses.length > 5">
          <p style="margin-top: 20px; opacity: 70%;">(További Markerek megtekintéséhez görgessen lefele (vagy valami szöveget ide lehet írni))</p>
        </div>
      </ng-container>
      <ng-template #noMarkers>
        <p class="markerbno">Még nem adott hozzá Markert</p>
      </ng-template>
    </div>
  
  
    <div style="text-align: center; position: relative; z-index: 1; display: flex; flex-direction: column; align-items: center;">   
      <button id="okebutton" (click)=" overridePercent()"style="z-index: 2; position: relative;">Mentés</button>
      <div style="position: absolute; bottom: 0; width: 50%; z-index: 1; text-align: center;">
        <hr style="margin-top: 10px; width: 100%; height: 1px; background-color: #0080ff; box-shadow:0px 1px 0px #848484;">
      </div>
    </div>  
  </div>

  <footer>   
    <p>A "*" -al jelölt mezők kitöltése kötelező !</p>
  </footer>

</div>