<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Covint</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Kezdőlap</a>
      </li>
      <li class="nav-item">
        <a href="/datainput" class="nav-link" routerLink="datainput">Adatbevitel</a>
      </li>
      <li class="nav-item">
        <a href="/export" class="nav-link" routerLink="export">Export</a>
      </li>
      <li class="nav-item">
        <a href="/diagram" class="nav-link" routerLink="diagram">Diagramok</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!loginService.isLoggedIn()">
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Bejelentkezés</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="loginService.isLoggedIn()">
      <li class="nav-item">
        <a class="nav-link">{{ loginService.getUsername() }}</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="" class="nav-link" (click)="logout()">Kijelentkezés</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>