<div id="app">
  <nav class="navbar navbar-expand navbar-dark custom-bg">
    <a href="#" class="navbar-brand">Covint</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" style="color: rgb(255, 255, 255);" routerLink="home">Kezdőlap</a>
      </li>
      <li class="nav-item">
        <a href="/datainput" class="nav-link" style="color: rgb(255, 255, 255);" routerLink="datainput">Adatbevitel</a>
      </li>
      <li class="nav-item">
        <a href="/export" class="nav-link" style="color: rgb(255, 255, 255);" routerLink="export">Export</a>
      </li>
      <li class="nav-item">
        <a href="/diagram" class="nav-link" style="color: rgb(255, 255, 255);" routerLink="diagram">Diagramok</a>
      </li>
      <li class="nav-item">       
        <a href="/usermanagement" class="nav-link" style="color: rgb(255, 255, 255);" routerLink="usermanagement">Felhasználók kezelése</a>  
             
      </li>
      <li class="nav-item">
        <a href="/markermanagement" class="nav-link" style="color: rgb(255, 255, 255);" routerLink="markermanagement">Markerek kezelése</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!loginService.isLoggedIn()">
      <li class="nav-item">
        <a href="/login" class="nav-link" style="color: rgb(255, 255, 255);" routerLink="login">Bejelentkezés</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="loginService.isLoggedIn()">
      <li class="nav-item">
        <a class="nav-link">{{ loginService.getUsername() }}</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="" class="nav-link" (click)="logout()">Kijelentkezés</a>
      </li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>

