.custom-bg{
    background-color: #ffffff;
}

.nav-item.active a {
    background-color: #0080ff; 
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    color: #ffffff;
    position: relative;
    margin: 0; 
    z-index: 1;
  }

.nav-item a{
    color: black;
    margin: 0;
    z-index: 1;
}
.nav-item:hover{
    background-color:#9dc3ff ;
    border-top-right-radius:7px;
    border-top-left-radius: 7px;
    color: #000000;
    margin: 0;
    z-index: 1;
}

#covint_logo{
    width: 150px;
    margin-right: 5%;
    margin-bottom: 5px;
}
 
.navbar{
    padding-bottom: 0;
}

.nav {
    list-style-type: none;
    padding: 0;
    z-index: 1;
  }
  
  .nav-item {
    position: relative;
    display: inline-block;
    
  }
  
  .nav-link {
    text-decoration: none;
    color: #333;
    z-index: 1;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    z-index: 1;
    box-shadow: #000000;
  }
  
  .nav-item:hover .dropdown {
    display: block;
    z-index: 1;
  }
  
  .dropdown li {
    padding: 10px;
    z-index: 1;
  }
  
  .dropdown li:hover {
    background-color: #f2f2f2;
    z-index: 1;
  }

  ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }