

<h2 *ngIf="loginService.hasAnyGroup([orvos])">Orvokonak összeállított diagram dashboard </h2>
<h2 *ngIf="loginService.hasAnyGroup([portaladmin, portalvezeto, kutatoorvos])">Kutatóknak összeállított diagram dashboard  </h2>



  <div class="tab" *ngIf="loginService.hasAnyGroup([orvos])"><iframe id="diagram"
      [src]="getDoctorDashboardUrl() | safe:'url'"></iframe>
  </div>




  <div class="tab" *ngIf="loginService.hasAnyGroup([portaladmin, portalvezeto, kutatoorvos])"><iframe id="diagram"
      [src]="getResearcherDashboardUrl() | safe:'url'"></iframe>
  </div>




  