<h1>Felhasználói profil</h1>

<div class="container">
 
  <table>
    <tr>
      <td>
        <label for="name">Felhasználó neve:</label>
      </td>
      <td>
        <p>{{this.user.Title}} {{this.user.LastName}} {{this.user.FirstName}}</p>
      </td>
    </tr>
  
    <tr>
      <td>
        <label for="sealnumber">Pecsét száma:</label>
      </td>
      <td>
        <p>{{this.user.SealNumber}}</p>
      </td>
    </tr>
  
    <tr>
      <td>
        <label for="companyname">Cég neve:</label>
      </td>
      <td>
        <p>{{this.user.CompanyName}}</p>
      </td>
    </tr>
  
    <tr>
      <td>
        <label for="institute">Intézmény neve:</label>
      </td>
      <td>
        <p>{{this.user.InstitutionName}}</p>
      </td>
    </tr>
  
    <tr>
      <td>
        <label for="departure">Osztály:</label>
      </td>
      <td>
        <p>{{this.user.InstitutionDepartment}}</p>
      </td>
    </tr>
  
    <tr>
      <td>
        <label for="phone">Telefon:</label>
      </td>
      <td>
        <p>{{this.user.Phone}}</p>
      </td>
    </tr>

    <tr>
      <td>
        <label>Adatmódosítási igény esetén keresse a portálkezelőket! Köszönjük!</label>
      </td>
      <td>
        <!--
        <button id="done" (click)="">Adatmódosítás</button>
      -->
      </td>
    </tr>

    <tr>
      <td>
        <label>Jelszó:</label>
      </td>
      <td>
        <button id="done" (click)="gotoChangePassword()">Jelszócsere</button>
      </td>
    </tr>
  </table>

</div>