.container{
    padding-top: 0;
}

.content{
    display: flex;
    background: rgba(224,224,224);
    background: linear-gradient(180deg, rgba(224,224,224,1) 60%, rgba(255,255,255,0) 90%);    
    justify-content: space-between;
    padding: 20px; 
    padding-bottom: 120px;  
    padding-top: 40px;
}

p{
    margin: 0;
    padding: 0;
}

label{
    margin: 0;
}

table {    
    width: 100%;
}

td{
    text-align: left;
    padding: 10px;
    justify-content: space-around;
    padding-left: 60px;
}

tr:nth-child(even) {
  background: rgb(240,240,240);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(240,240,240) 10%, rgb(240,240,240) 90%, rgba(224, 224, 224, 0) 100%);
  }

  tr:nth-child(odd) {
    background: rgba(224,224,224);
    background: linear-gradient(90deg, rgba(224, 224, 224, 0) 0%, rgba(224,224,224) 10%, rgba(224,224,224) 90%, rgba(224, 224, 224, 0) 100%);
  }