h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 40px;
    border-bottom: solid 3px white;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #42a1607a;
    padding-left: 200px;
    width: 100%;   
}

.container{
    max-width: 100%;
    width: 63.75%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
    height: 100;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background: rgb(66,161,96);
    background: linear-gradient(180deg, rgb(66, 161, 96) 2%, rgba(66, 161, 96, 0.517) 10%, rgba(255, 255, 255, 0.62) 50%);    
    background-repeat: repeat-x;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

button{
    width: 200px;
    height: 40px;
    background-color: #42a160; 
    border: solid 1px rgb(255, 255, 255);
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 10px #1f693558;
}

button:hover{
    background-color: #42a160b6
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.droptextbox{
    border-radius: 5px;
    border: solid 1px #42a160;
    background-color: #ffffffa9;
    height: 40px;
    padding: 5px;
    min-width: 200px;
    text-align: center;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
